body{margin: 0}
div{
    border: 1px solid red;
    
}
.bairlal{
    width: 25px;
    padding: 20px;
    border-radius: 45px;

    position: sticky;
    top: 0px;
    // bottom: 10px;
    // left: 500px;
    // right: 100px;
}